<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210338164285-tc3httu587foequ2r05qfbbd87vf1sca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210338164285-tc3httu587foequ2r05qfbbd87vf1sca</string>
	<key>API_KEY</key>
	<string>AIzaSyD7Y16TAN4-QqhjPtE5KdjlJFxLAHBQAUo</string>
	<key>GCM_SENDER_ID</key>
	<string>210338164285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learningdart</string>
	<key>PROJECT_ID</key>
	<string>learningdart-flutter-pro-67d9d</string>
	<key>STORAGE_BUCKET</key>
	<string>learningdart-flutter-pro-67d9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210338164285:ios:d457485992714e30c68454</string>
</dict>
</plist>